.circle {
	width: 200px;
	height: 200px;
	position: absolute;
	border-radius: 50%;
	background: #0cc;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.pie-left,
.pie-right {
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
}
.left,
.right {
	display: block;
	width: 200px;
	height: 200px;
	background: #00aacc;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}
.pie-right,
.right {
	clip: rect(0, auto, auto, 100px);
}
.pie-left,
.left {
	clip: rect(0, 100px, auto, 0);
}
.mask {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	left: 25px;
	top: 25px;
	background: #FFF;
	position: absolute;
	text-align: center;
	line-height: 150px;
	font-size: 16px;
}

.btn{
	padding: 10px 20px;
	border-radius: 4px;
	display: inline-block;
	box-shadow: 0 0 4px #616161;
}