body{
	margin: 0;
}
ul{
    margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
.circle {
	width: 200px;
	height: 200px;
	position: absolute;
	border-radius: 50%;
	background: #0cc;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.pie-left,
.pie-right {
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
}
.left,
.right {
	display: block;
	width: 200px;
	height: 200px;
	background: #00aacc;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}
.pie-right,
.right {
	clip: rect(0, auto, auto, 100px);
}
.pie-left,
.left {
	clip: rect(0, 100px, auto, 0);
}
.mask {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	left: 25px;
	top: 25px;
	background: #FFF;
	position: absolute;
	text-align: center;
	line-height: 150px;
	font-size: 16px;
}

.btn{
	padding: 10px 20px;
	border-radius: 4px;
	display: inline-block;
	box-shadow: 0 0 4px #616161;
}
.setting{
	position: absolute;
	top: calc(50% + 150px);
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 32px;
    color: #00aacc;
    cursor: pointer;
}
.picker{
	width: 100%;
	height: 40vh;
	position: fixed;
	bottom: 0;
	background-color: #bfbfbf;
	transform: translateY(0%);	
	transition: transform 0.1s;
}
.picker-show{
	transform: translateY(0);
}
.picker-title{
	display: flex;
	padding: 1vh 2vw;
	align-items: center;
	justify-content: space-between;
	background-color: #d9d9d9;
}
.picker-body{
	display: flex;
}
.picker-col{
	flex: 1;
	text-align: center;
	overflow: hidden;
}
.picker-col li{
	height: 5vh;
}
.picker-line{
	position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
	background: #fff;
	display: none;
}